.main-container {
    padding: 80px 50px;
}
h1 {
    text-align: center;
    padding: 10px;
}
.container-plants {
    display: flex;
    margin-top: 10px;
    padding: 10px;
}

b {
    color: green;
}