<div class="container-tri">
    <p>Trier par : </p>
    
    <div class="container-button">
        <button #inputAlpha type="button" value="Alpha" class="btn" (click)="etatDuBoutton.emit(inputAlpha.value)">Alphabétique 
            <i *ngIf="countAlpha === 2" class="bi bi-arrow-up-short"></i>
            <i *ngIf="countAlpha === 1" class="bi bi-arrow-down-short"></i>
        </button>
        <button #inputArrosage class="btn" type="button" value="Arrosage" (click)="etatDuBoutton.emit(inputArrosage.value)">{{ inputArrosage.value }}
            <i *ngIf="countArrosage === 2" class="bi bi-arrow-up-short"></i>
            <i *ngIf="countArrosage === 1" class="bi bi-arrow-down-short"></i>
        </button>
        <button #inputEnsoleillement class="btn " type="button" value="Ensoleillement" (click)="etatDuBoutton.emit(inputEnsoleillement.value)">{{ inputEnsoleillement.value }}
            <i *ngIf="countEnsoleillement === 2" class="bi bi-arrow-up-short"></i>
            <i *ngIf="countEnsoleillement === 1" class="bi bi-arrow-down-short"></i>
        </button>
    </div>
</div>
