.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
.addbtn {
  width: 80%;
  margin: 0 auto;
}
.modern-table {
  width: 80%;
  /* Ajustez cette valeur selon la largeur souhaitée */
 
  border-collapse: collapse;
 
  margin: 20px auto;
  /* 'auto' centrera le tableau horizontalement */
 
  font-size: 18px;
 
  text-align: left;
 
  border-radius: 5px;
 
  overflow: hidden;
 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 
.modern-table thead tr {
  background-color: #198754;
 
  color: #ffffff;
 
  text-align: left;
}
 
.modern-table th,
.modern-table td {
  padding: 12px 15px;
}
 
.modern-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
 
.modern-table tbody tr:last-of-type {
  border-bottom: none;
}
 
.modern-table tbody tr:hover {
  background-color: #f5f5f5;
}
 
.input-field {
  padding: 5px 10px;
 
  font-size: 16px;
 
  border: 1px solid #ddd;
 
  border-radius: 4px;
 
  width: 100%;
}
 
.edit-btn,
.delete-btn,
.confirm-btn {
  padding: 5px 15px;
 
  border: none;
 
  border-radius: 4px;
 
  cursor: pointer;
 
  margin-right: 5px;
}
 
.edit-btn {
  background-color: #ffa500;
 
  color: #fff;
 
  margin: 20px;
}
 
.delete-btn {
  background-color: #ff0000;
 
  color: #fff;
}
 
.confirm-btn {
  background-color: #009879;
 
  color: #fff;
}
 
td {
  text-align: center;
}