<div class="admin">
 
  <button type="button" class="btn btn-outline-success addbtn" [routerLink]="['add-plant']">Ajouter une plante</button>


 
<table class="modern-table">
  <thead>
    <tr>
      <th>Nom</th>
 
      <th>Catégories</th>
 
      <th>Arrosage</th>
 
      <th>Soleil</th>
 
      <th>Image</th>
 
      <th>Actions</th>
    </tr>
  </thead>
 
  <tbody>
    <tr *ngFor="let ligne of lignes; let i = index">
      <td>
        <input
          class="input-field"
          *ngIf="isEditing"
          [(ngModel)]="ligne.nom"
          type="text"
        />
 
        {{ !isEditing ? ligne.nom : "" }}
      </td>
 
      <td>
        <input
          class="input-field"
          *ngIf="isEditing"
          [(ngModel)]="ligne.categorie"
          type="text"
        />
 
        {{ !isEditing ? ligne.categorie : "" }}
      </td>
 
      <td>
        <input
          class="input-field"
          *ngIf="isEditing"
          [(ngModel)]="ligne.arrosage"
          type="text"
        />
 
        {{ !isEditing ? ligne.arrosage : "" }}
      </td>
 
      <td>
        <input
          class="input-field"
          *ngIf="isEditing"
          [(ngModel)]="ligne.soleil"
          type="text"
        />
 
        {{ !isEditing ? ligne.soleil : "" }}
      </td>
 
      <td>
        <input
          class="input-field"
          *ngIf="isEditing"
          [(ngModel)]="ligne.image"
          type="text"
        />
 
        {{ !isEditing ? ligne.image : "" }}
      </td>
 
      <td>
        <button class="edit-btn" (click)="editerLigne(ligne.id)">Editer</button>
 
        <button class="delete-btn" (click)="supprimerLigne(ligne.id, i)">
          Supprimer
        </button>
 
        <button
          class="confirm-btn"
          *ngIf="isEditing"
          (click)="confirmerChangements(ligne.id, ligne.nom, ligne.categorie, ligne.arrosage, ligne.soleil, ligne.image)">
          Confirmer
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>